<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-calable = no, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/calc.css"/>
	</head>
	<body>
		<div id="wrapper">
			<h1>借款明细查询</h1>
			<ul class="user">
				<li class="three clearfix">
					<span class="fl">3个月借款额</span>
					<input type="number" class="fl" v-model="quantity3" placeholder="请输入金额" />
				</li>
				<li class="six clearfix">
					<span class="fl">6个月借款额</span>
					<input type="number" class="fl" v-model="quantity6" placeholder="请输入金额" />
				</li>	
				<li class="nine clearfix">
					<span class="fl">12个月借款额</span>
					<input type="number" class="fl" v-model="quantity12" placeholder="请输入金额" />
				</li>	
				<li class="twelve clearfix">
					<span class="fl">24个月借款额</span>
					<input type="number" class="fl" v-model="quantity24" placeholder="请输入金额"  />
				</li>
				<li>
					<input type="button" class="button" value="提交" v-on:click="changeSubmit()" />
				</li>
			</ul>
			<div class="content" style="display: none;" v-show="submitFlag">
				<ul class="resume">
					<li class="clearfix">
						<span class="title fl">借款本金：</span>
						<span class="money fl">{{allPrincipal | forMoney}}</span>
					</li>
					<li class="clearfix">
						<span class="title fl">缴纳保证金：</span>
						<span class="money fl">{{allPrincipal*0.06 | forMoney}}</span>					
					</li>
					<li class="clearfix">
						<span class="title fl">手续费扣除：</span>
						<span class="money fl">{{allDeduction | forMoney}}</span>					
					</li>
					<li class="clearfix">
						<span class="title fl">到手金额：</span>
						<span class="money fl">{{allPrincipal-allDeduction | forMoney}}</span>					
					</li>				
				</ul>
				<div class="details">
					<h3>还款列表：</h3>
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<th>月数</th>
							<th>还款金额</th>
							<th>退还保证金</th>
							<th>实还金额</th>
						</tr>
						<tr v-for="(item,index) in dataArr">
							<td>{{Number(index)+1}}</td>
							<td>{{item.a | forMoney}}</td>
							<td>{{item.b | forMoney}}</td>
							<td>{{item.a - item.b | forMoney}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="page" v-bind:class="{'pageshow': page}">
				<div class="popup">
					<span class="block text">请输入金额</span>
					<span class="close" v-on:click="page=!page">&times</span>
				</div>
			</div>
		</div>
		<script src="js/rem.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/money.js"></script>
	</body>
</html>
